<!DOCTYPE html>
<html>
<head>
  <title>James Hoover | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Nav -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <div>
          <ul class="nav">
            <li><a class="navbar-brand" href="/">James Hoover Design</a></li>
            <%=nav_link_to("My Work", root_path) %>
            <%=nav_link_to("Info", info_path) %>
          </ul>
        </div><!-- nav-collapse END -->
      </div><!-- container END -->
    </div><!-- navbar-inner END -->
  </div><!-- navbar END -->
  <!--<h1 class="visible-lg site-name"><a href="/">James<br>Hoover<br>Design</a></h1> -->
  <!-- UNIQUE CONTENT -->
  <div class="container container-body">
    <!--Body content-->
    <%= yield %>
    <div class="divider-footer"></div>
    <div class="container-footer">
      <h4>JamesHooverDesign<h4>
    </div>
  </div>
  <!-- FOOTER -->

</body>
</html>
