<!DOCTYPE html>
<html>
<head>
  <title>James Hoover | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- UNIQUE CONTENT -->
  <div class="container container-body">
    <!--Body content-->
    <%= yield %>
    <div class="container-footer">
      <br>
      <h4>JamesHooverDesign<h4>
    </div>
  </div>
  <!-- FOOTER -->
</body>
</html>
