<!DOCTYPE html>
<html>
<head>
  <title>JHD | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Nav -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/">JHD</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="/work">Work</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/help">Help</a></li>
          </ul>
        </div><!-- nav-collapse END -->
      </div><!-- container END -->
    </div><!-- navbar-inner END -->
  </div><!-- navbar END -->
  <!-- UNIQUE CONTENT -->
  <div class="container">
    <div class="span1">
      <!--Left Sidebar content-->
    </div>
    <div class="span10">
      <!--Body content-->
      <%= yield %>
    </div>
    <div class="span1">
      <!--right Sidebar content-->
    </div>
  </div>
  <!-- FOOTER -->
  <div class="push"></div>
  <div class="container-footer">
    <h4>JamesHooverDesign<h4>
  </div>
</body>
</html>
